* {
    margin: 0;
    box-sizing: border-box;
}
#editor {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    min-height: 100px;
    padding: 1rem;
}
.container {
    max-width: 95ch;
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
}
