* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
#editor {
    border: 1px solid;
    min-height: 100px;
    padding: 1rem;
}
.container {
    max-width: 95ch;
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
}
.files {
    max-width: 95ch;
    width: 100%;
    margin: auto;
}
.files__list {
    margin-top: 0.5rem;
}
.file__actions {
    list-style: none;
    padding: 0;
}
